<!DOCTYPE html>
<html>
<head>
  <title>canna-login</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="login-wrapper">
    <div class="login-icon">
      <img src="/images/logo-lg.jpg">
    </div>
    <div class="login-container">
      <div class="login-title">
        <span class="title-text">用户登录</span>
      </div>
      <%= form_tag admin_login_path do %>
        <div class="login-content">
          <div class="content-username">
            <%= label_tag '用户名:' %>
            <%= text_field_tag 'user[login]',"",class: "form-control" %>
          </div>
          <div class="content-password">
            <%= label_tag '密码:' %>
            <%= password_field_tag 'user[password]',"",class: "form-control" %>
          </div>
          <div class="login-submit">
            <%= submit_tag '登录',class: "btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>

